* {
    margin: 0;
    padding: 0;
}

header {
    background-color: aquamarine;
    height: 96px;

    nav {
        padding: 0 24px;
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 2rem;
    }
}

main {
    display: flex;
    gap: 24px;
    height: 100vh;
}

.img {
    align-items: center;
    background-color: brown;
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    justify-content: center;

    img {
        width: auto;
        height: 50%;
    }

}

section:nth-child(1) {
    background-color: brown;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 24px;
}



section:nth-child(3) {
    display: flex;
    gap: 24px;
    flex-grow: 1;
    flex-direction: column;
    background-color: rgb(193, 103, 103);
}

article {
    flex-grow: 1;
    background-color: chocolate;
}
